/* style.css */

.page-title {
    color: white;
    background-color: #221f1fde;
    text-align: center;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;

}

.links {
    text-align: center;
}

button {
    background-color: #221f1fde;
    color: #ffffff;
    font-size: 20px;
  }

html {
    background-color: #221f1f18;
}

.desc {
    text-align: center;
}