/* style.css */

.page-title {
    color: white;
    background-color: #221f1fde;
    text-align: center;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;

}

.links {
    text-align: center;
}

button {
    background-color: #221f1fde;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
  }

html {
    background-color: #221f1f18;
}

.float-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-gap: 5px;
    background-color: #221f1f11;
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}